.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 0px;
}
.card img {
  width: 150px;
}
.card h3 {
  flex-grow: 0;
  padding-left: 150px;
  font-family: "Lato", serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.card{
  flex-basis: 20px;
  flex-grow: 1;
  margin: 10px;
}